<template>
	<div>
		<h1 @click="alertMsg()">{{msg}}</h1>
		<el-button type="primary" @click="getUser()">测试</el-button>
	</div>
</template>

<script>
	import request from '../../utils/request'
	import { setToken } from '@/utils/auth'
	export default{
		name: "config",
		data(){
			return{
				msg: "哈哈啦"
			}
		},
		methods:{
			async alertMsg(){
				const res = await request({url: '/login', method: 'POST', params: {Email: '123@qq.com', Password: '123456'}})
				
				this.$store.commit('setToken', res.data.token)
				setToken(res.data.token)
				this.$message.success("登陆成功！")
				// console.log(this.$store.state.one.count)
			},
			async getUser(){
				await request({url: '/api/v1/user', method: 'GET'})
				this.$message.success("获取用户信息成功！")
			}
		}
	}
</script>

<style>
</style>
